<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  <link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Minha Aposta</title>
</head>

<body>

  <main id="app">

    <template>
      <b-navbar>
        <template #brand>
          <b-navbar-item tag="router-link" :to="{ path: '/' }" @click="backHome" style="cursor: pointer; color: green;">
            <b-icon pack="fas" icon="home" size="is-medium">
            </b-icon>
          </b-navbar-item>
        </template>
        <template #start>
          <b-navbar-item @click="backHome">
            Home
          </b-navbar-item>
          <b-navbar-item href="#">
            Últimos Resultados
          </b-navbar-item>
          <b-navbar-dropdown label="Jogos">
            <b-navbar-item href="#">
              Mega Sena
            </b-navbar-item>
            <b-navbar-item href="#">
              Lotofácil
            </b-navbar-item>
            <b-navbar-item href="#">
              LotoMania
            </b-navbar-item>
            <b-navbar-item href="#">
              Quina
            </b-navbar-item>
          </b-navbar-dropdown>
        </template>
      </b-navbar>
    </template>

    <section class="hero is-link">
      <div class="hero-body">
        <p class="title">
          Minha Aposta
        </p>
        <p class="subtitle">
          Escolha números gerados aleatoriamente, ou faça seu jogo, <strong>MAS com um detalhe muito
            importante</strong>,
          o site já verifica se estes números já foram sorteados e te avisa no mesmo instante.
        </p>
      </div>
    </section>

    <br>

    <div class="container" style="padding: 10px;">
      <templates v-if='isview'>
        <div class="columns">
          <div class="column" style="box-shadow: 0px 1px 7px 1px rgba(68,68,68,0.74);margin: 5px;">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="./assets/image/megasena.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content" style="overflow: hidden;">
                    <div class="buttons" @click="lastedResult('megasena')">
                      <b-button style="width: -webkit-fill-available;" focused>Último sorteio</b-button>
                    </div>
                    <div class="buttons">
                      <b-button style="width: -webkit-fill-available;" focused>Gerar números</b-button>
                    </div>
                    <div class="buttons">
                      <b-button style="width: -webkit-fill-available;" focused>Verificar meu números</b-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="box-shadow: 0px 1px 7px 1px rgba(68,68,68,0.74);margin: 5px;">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="./assets/image/lotofacil.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content" style="overflow: hidden;">
                    <div class="buttons" @click="lastedResult('lotofacil')">
                      <b-button style="width: -webkit-fill-available;" focused>Último sorteio</b-button>
                    </div>
                    <div class="buttons">
                      <b-button style="width: -webkit-fill-available;" focused>Gerar números</b-button>
                    </div>
                    <div class="buttons">
                      <b-button style="width: -webkit-fill-available;" focused>Verificar meu números</b-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="box-shadow: 0px 1px 7px 1px rgba(68,68,68,0.74);margin: 5px;">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="./assets/image/lotomania.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content" style="overflow: hidden;">
                    <div class="buttons" @click="lastedResult('lotomania')">
                      <b-button style="width: -webkit-fill-available;" focused>Último sorteio</b-button>
                    </div>
                    <div class="buttons">
                      <b-button style="width: -webkit-fill-available;" focused>Gerar números</b-button>
                    </div>
                    <div class="buttons">
                      <b-button style="width: -webkit-fill-available;" focused>Verificar meu números</b-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="box-shadow: 0px 1px 7px 1px rgba(68,68,68,0.74);margin: 5px;">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="./assets/image/quina.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content" style="overflow: hidden;">
                    <div class="buttons" @click="lastedResult('quina')">
                      <b-button style="width: -webkit-fill-available;" focused>Último sorteio</b-button>
                    </div>
                    <div class="buttons">
                      <b-button style="width: -webkit-fill-available;" focused>Gerar números</b-button>
                    </div>
                    <div class="buttons">
                      <b-button style="width: -webkit-fill-available;" focused>Verificar meu números</b-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </templates>
      <template v-else>
        <section class="container">
          <div class="card" style="box-shadow: 0px 1px 7px 5px rgba(128, 125, 125, 0.78);padding: 10px;">
            <p class="card-header-title">
              {{ typeLoteria | capitalize }}
            </p>
            <div class="columns">
              <div class="column">
                <div class="columns is-mobile">
                  <div class="column">
                    <p class="bd-notification is-info">Concurso: {{results.concurso}}</p>
                    <p class="bd-notification is-info">Local do sorteio: {{results.local}}</p>
                    <p class="bd-notification is-info">Data: {{ results.data }}</p>
                  </div>
                  <div class="column">
                    <div class="columns">
                    <p class="bd-notification is-info">Dezenas</p>
                    <div style="display: flex;" v-for="item in results.dezenas">
                      <p class="bd-notification is-info">{{ item }}</p>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="buttons">
              <b-button type="is-primary" @click="backHome">Voltar</b-button>
            </div>
          </div>
        </section>
      </template>
    </div>


    <!-- <div class="buttons">
      <b-button focused>Focused</b-button>

      <b-button type="is-primary" outlined>Outlined</b-button>
      <b-button type="is-success" outlined>Outlined</b-button>
      <b-button type="is-danger" outlined>Outlined</b-button>
      <b-button type="is-warning" outlined>Outlined</b-button>
    </div> -->

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Minha Aposta</strong> developed by Fabricio L. Covalesci 2021.
        </p>
      </div>
    </footer>
  </main>


  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

  <script>

    var vm = new Vue({
      el: '#app',
      data: {
        nome: "Testando",
        navBar: false,
        isview: true,
        results: [],
        latestSena: [],
        latestMania: [],
        latestFacil: [],
        latestQuina: [],
        loading: false,
        typeLoteria: '',
      },
      methods: {
        resultado: function () {
          alert('ola todos')
        },
        OpenNav: function () {
          this.navBar = !this.navBar;
        },
        checkLatest(loteria) {
          if (Object.keys(this.results).length === 0) return true
          else if (this.results.dezenas.length !== 6 && loteria === 'megasena') {
            return this.results = []; console.log(this.results.dezenas.length, loteria)
          }
          else if (this.results.dezenas.length !== 15 && loteria === 'lotofacil') {
            return this.results = []; console.log(this.results.dezenas.length, loteria)
          }
          else if (this.results.dezenas.length !== 25 && loteria === 'lotomania') {
            return this.results = []; console.log(this.results.dezenas.length, loteria)
          }
          else if (this.results.dezenas.length !== 25 && loteria === 'quina') {
            return this.results = []; console.log(this.results.dezenas.length, loteria)
          }
        },
        lastedResult: function (loteria) {
          this.typeLoteria = loteria;
          let cors_url = "https://cors-anywhere.herokuapp.com/";
          let api = `https://loterias-api-gutotech.herokuapp.com/api/v0/${loteria}/latest`;
          axios.get(`${cors_url}${api}`)
            .then((response) => {
              this.results = response.data;
              this.isview = false;
            });
        },
        backHome() {
          this.isview = true;
        }
      },
      filters: {
        capitalize: function (value) {
          if (!value) return ''
          value = value.toString()
          return value.charAt(0).toUpperCase() + value.slice(1)
        }
      }
    })


  </script>

  <style>
    .circle:before {
      content: ' \25CF';
      font-size: 200px;
    }
  </style>
</body>

</html>